html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

nav {
  background: hsl(225, 36%, 96%, 40%);
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(209, 61%, 16%);
}
.nav-header h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.link {
  color: hsl(209, 61%, 16%);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  transition: all 0.3s linear;
  font-weight: bold;
  padding: 0.75rem 0;
  margin-left: 1rem;
}
.link:hover {
  color: rgb(33, 93, 206);
}
header {
  min-height: 100vh;
  background: url(./search.jpg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: white;
  text-transform: uppercase;
}
.container p {
  color: hsl(209, 61%, 16%);
  max-width: 25rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: hsl(209, 61%, 16%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all o.3s linear;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid hsl(209, 61%, 16%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: hsl(225, 36%, 96%, 40%);
  color: rgb(33, 93, 206);
  border-color: rgb(33, 93, 206);
}
.nav-center {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  justify-content: space-between;
}
.link-container {
  height: auto;
}
.links {
  display: flex;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
